@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Scholar Platform</h1>
    <h2 class="display-5">Student Management System</h2>

   
</div>
