<h1 text-align="center">Student Data</h1>

<form asp-action="Create" asp-controller="Student" method="post" >

    <partial name="PartialAddEditView"></partial>
    
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
