@model Student
<div>
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div>
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form form-control">
    <span asp-validation-for="Email" class="text-danger"></span>

</div>
<div>
    <label asp-for="DateOfBirth"></label>
    <input asp-for="DateOfBirth" class="form form-control">
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>

</div>
<div>
    <label asp-for="DepartmentId"></label>
    <select asp-for="DepartmentId" asp-items=@(new SelectList(ViewBag.depts, "Id", "Name")) class="form form-control"></select>
    <span asp-validation-for="DepartmentId" class="text-danger"></span>

</div>

<button type="submit" class="btn btn-primary">Submit</button>
<a asp-action="Index" asp-controller="Student" class="btn btn-primary">Back</a>
