@model List<Department>

<a asp-controller="Department" asp-action="AddNew" class="btn btn-primary">Click to Add New Department</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var d in Model)
            {
            <tr>
                <td>@d.Id</td>
                <td>@d.Name</td>
                
                <td>
                    <a asp-action="Edit" asp-controller="Department" asp-route-id=@d.Id class="btn btn-outline-info">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Department" asp-route-id=@d.Id class="btn btn-danger" onclick="return confirm('Are you sure you want to delete Department @d.Name?');">Delete</a>
                </td>
            </tr>
        }
        </tr>
    </tbody>
</table>
