<h1 text-align="center">Office Assignment Data</h1>

<form asp-action="Create" asp-controller="OfficeAssignment" method="post">

    <partial name="PartialAddEditView"></partial>
    
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
