<h1 text-align="center">Instructor Data</h1>

<form asp-action="Create" asp-controller="Instructor" method="post">

    <partial name="PartialAddEditView"></partial>

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

