<form asp-action="Create" asp-controller="Enrollment" method="post">

    <partial name="PartialAddEditView"></partial>

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
